/* Hilangkan cursor bawaan */
body{
    cursor:none;
}

/* Titik tengah */
.cursor-dot{
    position:fixed;
    width:8px;
    height:8px;

    background:#60a5fa;
    border-radius:50%;

    pointer-events:none;
    z-index:99999;

    transform:translate(-50%,-50%);
}

/* Lingkaran luar */
.cursor-outline{
    position:fixed;

    width:38px;
    height:38px;

    border:2px solid rgba(96,165,250,.8);
    border-radius:50%;

    pointer-events:none;
    z-index:99998;

    transform:translate(-50%,-50%);

    transition:
        width .25s ease,
        height .25s ease,
        border-color .25s ease,
        background .25s ease;
}

/* Hover di button/link */
.cursor-hover{

    width:58px !important;
    height:58px !important;

    background:rgba(96,165,250,.08);

    border-color:#60a5fa;

    box-shadow:
        0 0 15px rgba(96,165,250,.35),
        0 0 35px rgba(96,165,250,.2);
}

.spark{
    position: fixed;

    width: 6px;
    height: 6px;

    border-radius: 50%;

    pointer-events: none;

    z-index: 999999;

    background: #ffffff;

    box-shadow:
        0 0 6px #fff,
        0 0 12px #60a5fa,
        0 0 20px #60a5fa;

    animation: sparkle .8s linear forwards;
}

@keyframes sparkle{

    0%{
        opacity:1;
        transform:scale(1);
    }

    100%{
        opacity:0;
        transform:
            translateY(-20px)
            scale(0);
    }

}