/* =========================================
   LOADER
========================================= */

#loader{
    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0f172a;
    z-index:99999;
    transition:opacity .8s ease,
               visibility .8s ease;

}

#loader.hide{
    opacity:0;
    visibility:hidden;
}

.loader-content{
    text-align:center;
}

.loader-logo{
    width:120px;
    margin-bottom:20px;
    animation:floatLogo 2s ease-in-out infinite;
    filter:drop-shadow(0 0 15px #38bdf8);
}

.loader-content h2{

    color:white;

    margin-bottom:10px;

}

.loader-content p{

    color:#94a3b8;

    margin-bottom:25px;

}

.progress-container{

    width:320px;
    height:10px;

    background:rgba(255,255,255,.08);

    border-radius:50px;

    overflow:hidden;

    margin:auto;

}

.progress-bar{

    width:0;

    height:100%;

    border-radius:50px;

    background:linear-gradient(
        90deg,
        #38bdf8,
        #818cf8
    );

    box-shadow:0 0 20px #38bdf8;

    transition:width .1s linear;

}

#progress-text{

    display:block;

    margin-top:15px;

    color:#38bdf8;

    font-weight:600;

}

@keyframes floatLogo{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

}