#typing{
    color: #fd6c9c;
    font-weight: 600;
}

.cursor{
    color:#fd6c9c;
    animation:blink .8s infinite;
}

@keyframes blink{

    0%,50%{
        opacity:1;
    }

    51%,100%{
        opacity:0;
    }

}